@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css');
html,body {font: 300 16px/24px "Inter", Helvetica, Arial, sans-serif;width: 100%;height: 100%;}

:root {
    --color-white:#fff;
    --color-black:#000;
    --color-green:#adc81f;
    --color-blue1:#024480;
    --color-blue2:#0a88bd;
    --color-blue3:#0a86bb;
    --color-blue4:#0987bd;
    --color-navy:#2b2d54;
    --color-yellow:#f3d361;
    --color-blue:#1799b4;
    --color-dark-blue:#1f4f71;
    --color-dark-blue2:#3d72a8;
    --color-orange:#ef5523l;
    --color-grey-m:#f5f4f4;
    --color-grey:#f5f5f5;
    --color-grey2:#e8e8e8;
    --color-grey3:#ddd;
    --color-grey4:#F1F1F1;
    --color-dark-navy:#0e1b1f;
    --gradient1:linear-gradient(185deg, rgba(255, 255, 255, 1) 0%, rgba(239, 85, 35, 1) 0%, rgb(255 98 47) 100%);
    --gradient2:linear-gradient(185deg,#b0cb1f 0%, #adc81f 0%, #adc81f 100%);
    --gradient3:linear-gradient(185deg, #272727 0%, #407cb9f7 0%, #272727 100%);
    --gradient4:linear-gradient(185deg, #42b6dd 0%, #407cb9f7 0%, #0894c3 100%);
    --gradient5:linear-gradient(to right,#272727  0,#407cb9f7 51%,#272727  100%);
    --ff-roboto-condensed: "Roboto Condensed", sans-serif;;
    --ff-roboto: "Roboto", sans-serif;;
    --fs-10:10px;
    --fs-12:12px;
    --fs-14:14px;
    --fs-16:16px;
    --fs-18:18px;
    --fs-20:20px;
    --fs-22:22px;
    --fs-24:24px;
    --fs-28:28px;
    --fs-30:30px;
    --fs-32:32px;
    --fs-34:34px;
    --fs-36:36px;
    --fs-38:38px;
    --fs-40:40px;
    --fs-42:42px;
    --fs-44:44px;
    --fs-46:46px;
    --fs-48:48px;
    --fs-54:54px;
    --fs-100:100px;
    --fw-100:100;
    --fw-300:300;
    --fw-400:400;
    --fw-500:500;
    --fw-600:600;
    --fw-700:700;
    --fw-800:800;
    --fw-900:900;
}

/* .container2 {max-width: calc(100% - 40px)!important;} */
/* .container {max-width: 1270px;} */

/* header */
header{padding: 0 !important;}
.navbar{box-shadow: 0 1px 4px 0 rgb(19 41 75/80%);padding: 0;}
.button1{background: var(--gradient1);
    color: var(--color-white);
    border: 1px solid var(--color-orange);
    font-size: 16px;
    line-height: normal;
    font-family: satoshi, sans-serif;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 25px;}
.button2{background: var(--color-white);
    color: var(--color-orange);
    border: 1px solid var(--color-orange);
    font-size: 16px;
    text-decoration: none;
    line-height: normal;
    font-family: satoshi, sans-serif;
    padding: 10px 20px;
    border-radius: 25px;}

    .button3{
        background: var(--gradient2);
        color: var(--color-white);
        border: 1px solid var(--color-green);
        font-size: 16px;
        text-decoration: none;
        line-height: normal;
        font-family: satoshi, sans-serif;
        padding: 10px 20px;
        border-radius: 25px;
    }
    .button3:hover{
        background: var(--color-white);color: var(--color-green);
    }

    .button4{background: var(--color-white);
        color: var(--color-green);
        border: 1px solid var(--color-green);
        font-size: 16px;
        line-height: normal;
        font-family: satoshi, sans-serif;
        padding: 10px 20px;
        text-decoration: none;
        border-radius: 25px;}

        .button5{
            background: var(--gradient3);
            color: var(--color-white);
            border: 1px solid var(--color-blue);
            font-size: 16px;
            line-height: normal;
            font-family: satoshi, sans-serif;
            padding: 10px 20px;
            text-decoration: none;
            border-radius: 25px;
        }

        .button6{background: var(--gradient4);
            color: var(--color-white);
            border: 1px solid var(--color-blue);
            font-size: 16px;
            line-height: normal;
            font-family: satoshi, sans-serif;
            padding: 10px 20px;
            text-decoration: none;
            border-radius: 25px;}
.button6:hover{color: var(--color-blue);background: var(--color-white);}
            .button7{
                background: var(--gradient3);
                color: var(--color-white);
                border: 1px solid var(--color-blue);
                font-size: 16px;
                line-height: normal;
                font-family: satoshi, sans-serif;
                padding: 10px 20px;
                text-decoration: none;
                border-radius: 25px;
            }

            .button8{background: var(--color-white);
                color: var(--color-blue);
                border: 1px solid var(--color-blue);
                font-size: 16px;
                line-height: normal;
                text-decoration: none;
                font-family: satoshi, sans-serif;
                padding: 10px 20px;
                border-radius: 25px;}

                .button9{background-image: var(--gradient5);
                    background-size: 200%;
                    color: var(--color-white);
                    border: 1px solid var(--gradient5);
                    font-size: 16px;
                    line-height: normal;
                    text-decoration: none;
                    font-family: satoshi, sans-serif;
                    padding: 10px 20px;
                    border-radius: 25px;}

                    .button9:hover{background-image: var(--color-white);color: var(--color-blue);border:solid 1px var(--color-blue);}

                    .button10{background: var(--color-white);
                        color: var(--color-blue);
                        border: 1px solid var(--color-blue);
                        font-size: 16px;
                        line-height: normal;
                        text-decoration: none;
                        font-family: satoshi, sans-serif;
                        padding: 10px 20px;
                        border-radius: 25px;}

                        .button11{background: var(--color-blue2);
                            background-size: 200%;
                            color: var(--color-white);
                            border: 1px solid var(--gradient5);
                            font-size: 16px;
                            line-height: normal;
                            text-decoration: none;
                            font-family: satoshi, sans-serif;
                            padding: 10px 20px;
                            border-radius: 25px;}

                            .button11:hover{background-image: var(--color-white);color: var(--color-blue);border:solid 1px var(--color-blue);}

.dropdown-menu {
    transition: opacity .2s cubic-bezier(.6, .2, .1, 1), transform .2s cubic-bezier(.6, .2, .1, 1), visibility 0s linear 0s;
    transform: none;
    width: 200px;
    background: #fff;
    border-radius: 10px;
    border-radius: 0px;
    margin-top: 38px;
    box-shadow: 0px 0px 0px 0 rgba(34, 48, 73, .2);
    transform: translateY(-10px) scale(.95);
    top: 0;
    left: auto;
    right: -4px !important;
    padding: 0px;
}

.dropdown-menu:before {
    left: auto;
    right: 16px;
    right: var(--size-16);
    background: #edeeec;
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    transform: rotate(45deg);
    top: -4px;
    right: 16px;
}

.mca {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    background: #edeeec;
    padding: 40px;
    font-weight: 600;
    display: inline-block;
    overflow-inline: visible;
}

.mca p {
    font-weight: 400;
    color: #454745;
    margin-top: 8px;
    display: block;
    text-wrap: balance;
}

.mca.active,
.mca:active,
.mca:hover {
    background: #edeeec !important;
}

.dropdown-item{font-size: 16px;font-weight: 400;position: relative;line-height: 30px;padding: 10px;z-index:10000;font-family: var(--ff-roboto);}
.dropdown-item::after{content:"";height: 1px;background: var(--gradient5);width: 100%;position: absolute;bottom: 0;left: 0;}
.dropdown-item:last-child{outline: none;}
.dropdown-item:last-child::after{content:none !important;}
.dropdown-item.active,
.dropdown-item:active,
.dropdown-item:hover {
    background: #fff;
    color: #000;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

.dropdown-item:nth-child(2) {
    /* padding: 40px 40px 4px 40px; */
    /* font-weight: 600; */
}

.dropdown-item:last-child {
    /* border-radius: 0 0 16px 16px;
    font-weight: 600;
    padding: 4px 40px 40px 40px; */
}

.dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

.dropdown a:focus {
    color: #ea6d00 !important;
}

.active {
    color: #ea6d00;
}

header {
    background-color: #fff;
    position: relative;
    z-index: 10;
    padding: 5px 0;
}
.headerbg{background-color: #384b4e;}
.navbar>.container{padding: 0 10px !important;
    /* max-width: 100%; */
}
.nav-link {
    font: 400 14px/16px "Inter", Helvetica, Arial, sans-serif;
    color: #313131 !important;
    background: transparent;
    text-transform: capitalize;
    letter-spacing: 1px;
    transition: color .3s;
    line-height: 30px;
    padding: 8px 15px !important;
}

.nav-link:hover {
    background: #cdffad;
    background: rgba(134, 167, 189, .102);
    background: hsla(0, 0%, 100%, .102);
    color: #9fe870;
}

.text-ellipse {
    font: 600 15px/24px "Outfit", Helvetica, Arial, sans-serif;
    color: #163300;
    background: #9fe870;
    border: solid 1px #9fe870;
    border-radius: 100px;
    padding: 3px 16px;
}

.text-ellipse:hover {
    background: #cdffad;
    color: #163300;
}

.leftfix {
    position: absolute;
    left: -40px;
    top: 180px;
    width: 300px;
    height: 80px;
    border-radius: 1000000000px;
    background: url("../../../images/leftfixbg.webp");
}

.arrow {
    position: absolute;
    background: url("../../../images/right.webp");
    background-size: contain;
    width: 76px;
    height: 76px;
    right: 2px;
    top: 2px;
}

.arrow:before {
    -webkit-clip-path: polygon(0 0, 0 100%, 100% 0);
    clip-path: polygon(0 0, 0 100%, 100% 0);
}

.arrow:before {
    content: " ";
    position: absolute;
    display: block;
    width: 10px;
    height: 10px;
    right: 20px;
    top: -5px;
    transform: rotate(45deg);
    background-color: inherit;
}


.sidecashfirst {
    padding-top: 12rem;
    padding-right: 5rem;
}

.sidecashfirst h2 {
    color: #fff;
    opacity: 1;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

.sidecashfirst h1 {
    color: #9fe870;
    font: 600 42px/46px "Outfit", Helvetica, Arial, sans-serif;
    letter-spacing: -.021em;
}

.righttrack {
    margin: 0;
}

.righttrack .head p {
    font-size: 14px;
    margin-bottom: 0.5rem;
}

.righttrack .head p strong {
    font-size: 16px;
    margin-bottom: 0.5rem;
    color: #0e0f0c;
}

.track {
    padding-right: 24px;
    position: relative;
}

.track li {
    margin-left: 0;
    display: block;
    line-height: 24px;
    padding-left: 38px;
    padding-bottom: 20px;
    margin-bottom: 0;
}

.track>li:not(:last-child):after {
    content: "";
    position: absolute;
    background: rgba(14, 15, 12, .122);
    width: 1px;
    height: calc(100% - 34px);
    left: 8px;
    top: 50%;
    /* height: calc(100% - 90px);
        left: 6px;
        top:24%; */
    transform: translateY(-50%);
    opacity: 0.9;
    margin-top: 16px;
    box-sizing: border-box;
}

.track li .icon {
    width: 17px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0px;
}

.track li .date {
    position: static;
    left: 0;
    width: auto;
    padding-left: 0;
    text-align: left;
    margin-bottom: 8px;
    color: #454745;
}

.track li p {
    line-height: 16px;
    margin-bottom: 0;
}


.keepinmind {
    outline: none;
}

.keepinmind h3 {
    font-size: 18px;
    margin-bottom: 1rem;
    margin-left: 12px;
    color: #0E0F0C;
    font-weight: 600;
}

.keepinmind p {
    margin-bottom: 1.5rem;
    font-size: 14px;
    margin-left: 12px;
}

.keepinmind .accordion .alert {
    background: rgba(22, 51, 0, .078);
    padding: 24px;
    border-radius: 16px;
    border: none;
    font-size: 16px;
}

.keepinmind .accordion .alert .alert-icon {
    background: #edc843;
    border-radius: 100px;
    height: 48px;
    width: 48px;
    padding: 8px;
}

.accordion {
    border: none;
}


.accordion-button::after,
.accordion-button:not(.collapsed)::after {
    background-image: url('../../../images/down.png');
}

.accordion .accordion-item {
    border: none;
}

.accordion .accordion-item .accordion-header button {
    font-size: 18px;
    color: #0E0F0C;
    font-weight: 600;
}

.accordion .accordion-item .accordion-header .accordion-button:not(.collapsed) {
    background-color: transparent;
    box-shadow: none;
    border: none;
}

.transferdetails .accordion .accordion-body ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.transferdetails .accordion .accordion-body ul li {
    flex: 0 0 50%;
    margin-bottom: 1rem;
}

.transferdetails .accordion .accordion-body ul li span {
    display: block;
    font-size: 12px;
}


.footernav ul,.footernav ul li{display: inline-block;}
.footernav ul {margin-top: 20px;}
.footernav ul li a {
    color: #fff !important;
    text-decoration: none;
    font: 400 16px/24px "Outfit", Helvetica, Arial, sans-serif;
    letter-spacing: -.006em;
    line-height: 155%;
    margin-bottom: 10px;
    text-underline-offset: .3em;
    display: inline-block;
}

.footernav ul li a:hover {
    color: #cdffad;
}

footer .link-icon:not(:last-child) {
    margin-right: 16px;
}

footer .logo img {
    max-width: 89px;
}

footer .footer-link {
    color: #9fe870;
    text-decoration: underline;
    font: 400 14px/24px "Outfit", Helvetica, Arial, sans-serif;
    letter-spacing: -.006em;
    line-height: 155%;
    text-underline-offset: .3em;
}



.hero {
    background-image: url('../../../images/hero.jpg');
    margin-top: -165px;
    background-size: cover;
    padding-top: 170px;
    position: relative;
}

.hero::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
    background-image: url(../../../images/gradient.png);
    opacity: 1;
}

.hero .content {
    z-index: 2;
}

.hero .display-1 {
    margin: 0 0 25px;
    font-weight: 300;
    font-size: 100px;
    text-transform: uppercase;
    color: #fff;
}

.hero .content p {
    color: #fff;
    font-size: 24px;
    max-width: 80%;
    line-height: 34px;
    margin: 24px 0;
}


.hero .content .servicetitle {
    margin-bottom: 55px;
    color: #fff;
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 1px;
}

.hero .content .readmore a {
    margin-top: 13px;
    text-align: right;
    font-size: 14px;
    font-weight: 700;
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
    color: #f1b300;
}

.hero .content .producti{margin-bottom: 34px;padding-left: 50px;
    position: relative;
}
.hero .content .producticon {position: absolute;
    left: 0;
    top: 0;
    width: 35px;
    height: 35px;}

.hero .content .producttitle {color: #fff;
    margin: 0 0 10px;
    font-size: 24px;
    font-weight: 700;}

.hero .content .productdesc {color: #fff;
    margin: 0;
    font-size: 14px;
    line-height: 20px;}


    .wwed{padding-top: 50px;}
    .wwedtitle{font-size: 54px;margin: 0 0 20px;
        font-weight: 400;
        color: #4d4d4d;}
    .wwedtext{color: #4d4d4d;
        font-size: 16px;
        margin-bottom: 0;}
        .wwedimg{margin-top: 40px;max-width: 100%;}
        .wwedtext2{color: #4d4d4d;
            font-size: 16px;
            margin-bottom: 0;margin-bottom: 30px;}

        .products{padding: 100px 0;}
.title{font-size: 54px;margin: 0 0 20px;
    font-weight: 400;
    color: #4d4d4d;}

    .title2{
        font-size: 46px;
        margin-bottom: 0;
        font-weight: 400;
    color: #4d4d4d;
    }
    .title3{ margin: 0 0 30px;display: inline-block;font-weight: 700;
        font-size: 32px;color: #4d4d4d;}
    .services{background-image: url('../../../images/services.jpg');
        padding: 100px 0;max-width: 100%;
        overflow: hidden;background-size: cover;
    }

    .services .btn{color: #252525;margin-top: 30px;}

    .btn1{min-width: 260px;background-color: #ffce40;    font-size: 14px;
        line-height: 24px;
        text-align: center;
        color: #fff;
        font-weight: 700;
        border-radius: 0;
        padding: 14px 25px 13px;
        text-transform: uppercase;
        transition: .3s;
        border: 0;
        cursor: pointer;}

        .btn3{min-width: 260px;background-color: #ffce40;    font-size: 14px;
            line-height: 24px;
            text-align: center;
            color: #252525;
            font-weight: 700;
            border-radius: 0;
            padding: 18px 25px;
            text-transform: uppercase;
            transition: .3s;
            border: 0;
            cursor: pointer;}

        .serviceitem{margin-bottom: 30px;
            padding: 53px 40px 30px 137px;min-height: 236px;
            position: relative;
            z-index: 2;}
            .serviceitem::before{left: 16px;
                right: 16px;
                top: 0;
                bottom: 30px;
                content: '';
                left: 5px;
    position: absolute;
    z-index: 1;
    top: 5px;
    right: 5px;
    bottom: 5px;
    background: linear-gradient(0deg, rgba(0, 0, 0, .1), rgba(0, 0, 0, .1)), linear-gradient(0deg, rgba(45, 51, 64, .76), rgba(45, 51, 64, .76));
    border: 1px solid rgba(0, 0, 0, .1);
            }
            .serviceitem .content{z-index: 1;position: relative;}
        .serviceitem .content .number{position: absolute;
            top: 20px;
            left: -60px;
            z-index: 3;
            font-size: 16px;
            font-weight: 700;
            color: #000;}
            .serviceitem .content .number::before{
                content: '';
    position: absolute;
    left: -33px;
    top: -27px;
    width: 74px;
    height: 74px;
    border-radius: 100px;
    background-color: #fecc3f;
    opacity: .2;
            }
            .serviceitem .content .number::after{content: '';
                position: absolute;
                left: -15px;
                top: -10px;
                width: 40px;
                height: 40px;
                border-radius: 100px;
                background-color: #fecc3f;z-index: -1;}
        .serviceitem .content .title{color: #fff;
            font-weight: 700;
            font-size: 24px;
            margin: 0 0 19px;}
        .serviceitem .content .description{    color: #fff;
            margin: 0;
            font-size: 16px;
            opacity: .8;
            line-height: 26px;
        }

        .about{background-color: #f4f4f4;}
        .about .content{padding: 64px 90px;}
        .about .content .text{margin-bottom: 40px;}
        .about .content .btn1{color: #252525;}

        .history{padding: 100px 0 80px;}

        .btn2{min-width: 134px;background-color: #ffce40;    font-size: 14px;
            line-height: 24px;
            text-align: center;
            color: #252525;
            display: inline-block;
            font-weight: 700;
            border-radius: 0;
            padding: 14px 25px 13px;
            text-transform: uppercase;
            transition: .3s;
            border: 0;
            cursor: pointer}


            footer address{color: #fff;
                font-size: 18px;
                font-style: normal;
                margin-bottom: 25px;}
                footer .phone{display: inline-block;
                    color: #fff;
                    font-size: 18px;
                    text-decoration: none;
                    margin-bottom: 25px;}
footer .email{display: block;
    color: #fecc3f;
    font-size: 18px;}

    .z10{z-index: 10;position: relative;}

    .copyright{font-size: 13px;
        color: #bdbdbd;}
.privacypolicy{color: #bdbdbd;font-size: 13px;}
.breadcrumb{position: relative;
    list-style: none;
    margin-top: 0;
    padding: 15px 0 0;
    margin-bottom: 23px;}
    .breadcrumb-item+.breadcrumb-item::before {
        margin-left: 8px;
        margin-right: 3px;
        font-size: 14px;
        float: left;
        padding-right: .5rem;
        color: #6c757d;
        content: '•';
    }
    .breadcrumb-item,.breadcrumb-item a,.breadcrumb-item.active{position: relative;
        display: inline;
        font-weight: 400;
        font-size: 13px;
        text-decoration:none !important;
        color: #888;
    }

    .ptitle{color: #4d4d4d;
        font-size: 64px;
        margin: 0;font-weight: 400;}


        .aboutus{padding-top: 55px;}
        .aboutus img{min-height: 323px;}

        .contact{
            background-color: #f4f4f4;
            padding: 85px 0 100px;
            min-height: 652px;
        }


        .productitem{position: relative;
            border: 1px solid #d9d9d9;
            margin-bottom: 30px;
            min-height: 437px;}
            .productitem .content{padding: 45px;}
            .productitem .content .title{margin: 0 0 32px;
                font-size: 32px;font-weight: 700;
                color: #4d4d4d;}
                .productitem .content .text2{margin-top: 0;
                    margin-bottom: 30px;
                    color: #4d4d4d;
                    font-size: 16px;}

                    .products{padding: 55px 0 100px;}

                    .servicesp{padding: 55px 0 90px;}


                    .serviceitemi{
                        /* min-height: 490px; */
                        background-position: center;
                        position: relative;
                    }
                    .serviceitemi .content{
                        /* min-height: 490px; */
                    background-position: center;
                    position: relative;
                    /* margin-bottom: 30px; */
                    position: relative;
    z-index: 2;
    color: #fff;
    padding: 31px 25px;
    /* padding: 72px 55px; */
                }
                .serviceitemi::before {
                    background: rgba(50, 53, 57, .54);
                    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
                }
                .serviceitemi .content .title{margin: 0 0 30px;display: inline-block;font-weight: 700;
                    font-size: 32px;color: #fff;}
                    .serviceitemi .content .desc{margin: 0 0 30px;
                        height: 190px;display: inline-block;
                        overflow: hidden;font-size: 16px;}
                        .serviceitemi .content {display: inline-block;}
                        .serviceitemi .content .btn a{min-width: 245px;}

                        .cpinfo{    padding-top: 77px;}

                        address{color:#4d4d4d;
                                font-size: 20px;
                                text-decoration: none;
                                margin-bottom: 10px;}
.phone{
    display: block;
    color: #4d4d4d;
    font-size: 20px;
    margin-bottom: 10px;
    text-decoration: none;
}
.email{display: block;
    color: #2754b2;
    font-size: 20px;
    margin-bottom: 10px;}


.offices{background-color: #fff;padding: 95px 0 100px;}
.officegrid{margin:0;margin-top: 22px;}
.officegrid .item{border: 1px solid #d9d9d9;border-right: 0;height: 100%;}
.officegrid .row .col-lg-4{padding: 0;}
.officegrid .row .col-lg-4:nth-child(4n) .item,.officegrid .row .col-lg-4:last-child .item,
.officegrid .row .col-lg-3:nth-child(4n) .item,.officegrid .row .col-lg-3:last-child .item
.officegrid .row .col-lg-6:nth-child(4n) .item,.officegrid .row .col-lg-6:nth-child(2n) .item,.officegrid .row .col-lg-6:last-child .item
{border-right: 1px solid #d9d9d9;}
.officegrid .item .content{padding: 29px 20px 40px;}
.officegrid .item .country{margin-top: 0;
    font-size: 16px;font-weight: 700;
    color: #4d4d4d;
    margin-bottom: 10px;}
.officegrid .item .address{font-size: 16px;
    color: #4d4d4d;font-weight: 400;
    font-style: normal;
    margin-bottom: 10px;}
.officegrid .item .phone{display: block;
    color: #4d4d4d;
    font-size: 16px;
    margin-bottom: 10px;
    text-decoration: none;}
.officegrid .item .phone a{text-decoration: none;color: #4d4d4d;}
.officegrid .item .email{display: block;
    color: #2754b2;
    font-size: 16px;
    margin-bottom: 5px;}
.officegrid .item .email a{}

.hero{
    /* position: relative; */
    background-image: url(https://beriumgroup.com/wp-content/uploads/2019/09/Berium-Who-We-Are.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: right top;
    background-color: #2e3c71;
min-height: 500px;
}

.hero .caption{

    background: #ED6E00;
    padding: 1.25rem;
    position: absolute;
    left: 0;
    bottom: 4.25rem;
    right: auto !important;
    width: 70% !important;
}
    .hero h1 {
        font-size: 36px;
        line-height: 36px;
        display: inline-block;
        /* position: absolute; */
        color:#fff;
        z-index: 1;
        margin: 0;
        /* padding-top: 125px; */
        /* padding-bottom: 125px; */
    }

    .heading1{display: inline-block;
        position: relative;
        line-height: 135%;
        padding: 0 0 10px;
        font-size: 22px;
        font-weight: 700;
        font-family: "Outfit";
        text-align: center;
    }
    .heading1:after {
        content: "";
        position: absolute;
        height: 4px;
        bottom: 0;
        width: 50px;
        left: 50%;

        margin-left: -25px;
        background-color: #ED6E00;
    }
    .heading2{display: inline-block;
        position: relative;
        line-height: 135%;
        padding: 0 0 10px;
        font-size: 36px;
        font-weight: 700;
        font-family: "Outfit";
        text-transform: uppercase;
    }
    .heading2:after {
        content: "";
        position: absolute;
        height: 2px;
        bottom: 0;
        width: 35%;
        left: 0%;
        background-color: #ED6E00;
    }


    .heading2center{display: inline-block;
        position: relative;
        line-height: 135%;
        padding: 0 0 10px;
        font-size: 36px;
        font-weight: 700;
        font-family: "Outfit";
        text-transform: uppercase;
    }
    .heading2center:after {
        content: "";
        position: absolute;
        height: 2px;
        bottom: 0;
        width: 35%;
        left: 0%;
        right: 0;
        margin: 0 auto;
        background-color: #ED6E00;
    }

    .heading2white{display: inline-block;
        position: relative;
        line-height: 135%;
        padding: 0 0 10px;
        font-size: 36px;
        font-weight: 700;
        font-family: "Outfit";
        text-transform: uppercase;
    }
    .heading2white:after {
        content: "";
        position: absolute;
        height: 2px;
        bottom: 0;
        width: 35%;
        left: 0%;
        background-color: #fff;
    }


    .heading2whitecenter{display: inline-block;
        position: relative;
        line-height: 135%;
        padding: 0 0 10px;
        font-size: 36px;
        font-weight: 700;
        font-family: "Outfit";
        text-transform: uppercase;
    }
    .heading2whitecenter:after {
        content: "";
        position: absolute;
        height: 2px;
        bottom: 0;
        width: 35%;
        left: 0%;right:0;
        margin: 0 auto;
        background-color: #fff;
    }

    .heading2box{display: inline-block;
        position: relative;
        line-height: 135%;
        padding: 0 0 10px;
        font-size: 36px;
        font-weight: 700;
        font-family: "Outfit";
        text-transform: uppercase;
    }
    .heading2box:after {
        content: "";
        position: absolute;
        height: 2px;
        bottom: 0;
        width: 35%;
        left: 0%;
        background-color: #ED6E00;
    }

    .heading3{display: inline-block;
        position: relative;
        line-height: 135%;
        padding: 0 0 10px;
        font-size: 45px;
        font-weight: 400;
        letter-spacing: 1.5px;
        font-family: "Outfit";
        color:#4d4d4d;
    }
    .heading3:after {
        content: "";
        position: absolute;
        height: 4px;
        bottom: 0;
        width: 50px;
        left: 0%;
        background-color: #ED6E00;
    }

    .heading4{display: inline-block;
        position: relative;
        line-height: 135%;
        padding: 0 0 10px;
        font-size: 30px;
        font-weight: 500;
        font-family: "Outfit";
        color:#313131;
        margin:0;
    }
    /* .heading4:after {
        content: "";
        position: absolute;
        height: 4px;
        bottom: 0;
        width: 50px;
        left: 0%;
        background-color: #ED6E00;
    } */


    .heading4a{display: inline-block;
        position: relative;
        line-height: 135%;
        padding: 0 0 10px;
        font-size: 30px;
        font-weight: 500;
        font-family: "Outfit";
        color:#313131;
        margin:0;
    }
    .heading4a:after {
        content: "";
        position: absolute;
        height: 4px;
        bottom: 0;
        width: 50px;
        left: 0%;
        background-color: #ED6E00;
        right: 0;
        margin: 0 auto;
    }

    .heading4b{display: inline-block;
        position: relative;
        line-height: 135%;
        padding: 0 0 10px;
        font-size: 30px;
        font-weight: 500;
        font-family: "Outfit";
        color:#313131;
        margin:0;
    }
    .heading4b:after {
        content: "";
        position: absolute;
        height: 4px;
        bottom: 0;
        width: 50px;
        left: 0%;
        background-color: #ED6E00;
        right: 0;
        margin: 0;
    }

    .heading5{display: inline-block;
        position: relative;
        line-height: 135%;
        padding: 0 0 10px;
        font-size: 30px;
        font-weight: 400;
        font-family: "Outfit";
        color:#fff;
        margin:0;
    }
    .heading5:after {
        content: "";
        position: absolute;
        height: 4px;
        bottom: 0;
        width: 50px;
        left: 0%;
        background-color: #ED6E00;
    }

    .heading6{display: block;
        position: relative;
        line-height: 135%;
        padding: 0 0 5px;
        font-size: 18px;
        font-weight: 400;
        font-family: "Outfit";
        color:#4d4d4d;
        margin:0;
    }
    .heading6:after {
        content: "";
        position: absolute;
        height: 1px;
        bottom: 0;
        width: 100%;
        left: 0%;
        background-color: #ED6E00;
    }

    .heading7{display: inline-block;
        position: relative;
        line-height: 135%;
        padding: 0 0 5px;
        font-size: 36px;
        font-weight: 400;
        font-family: "Outfit";
        color:#4d4d4d;
        margin:0;
    }
    .heading7:after {
        content: "";
        position: absolute;
        height: 2px;
        bottom: 0;
        width: 100%;
        left: 0%;
        background-color: #ED6E00;
    }

    p{color: #777;font-size: 18px;letter-spacing: 1.5px;line-height: 30px;}

    .contact{background-image: url(../../../images/contacthero.jpg); }
    .sustainability{background-image: url(../../../images/sustainability.png); }
    .strategy{background-image: url(../../../images/strategy.png); }

    .woodpellet{background-image: url(../../../images/wood_pellet.jpg);background-position: top center;background-size: 100%;}
    .coal{background-image: url(../../../images/coalhero.jpg);background-position: top center;background-size: 100%;}
    .woodbriquettes{background-image: url(../../../images/wood_briquettes.webp);background-position: top center;background-size: 100%;}
    .woodlogs{background-image: url(../../../images/wood_logs.jpg);background-position: top center;background-size: 100%;}
    .peatbriquettes{background-image: url(../../../images/peatbriquettes.jpg);background-position: top center;background-size: 100%;}



    .woodpellet{background-image: url(../../../images/wood_pellet.jpg); }
    .sidenav{padding: 30px;border: 1px solid #E8E8E8;}
    .sidenav ul{padding:0;margin:0;}
    .sidenav ul li {padding:0;margin:0;color:#777777;font-size: 14px;font-weight: 700;padding: 5px 0;
        position: relative;list-style-type: none;
        border-bottom:solid 1px #E8E8E8;}
        .sidenav ul li:last-child{border:none !important;}
    .sidenav ul li a{padding:0;margin:0;color:#777777;font-size: 15px;font-weight: 700;padding: 5px 0;
        position: relative;   font-family: "Outfit";text-decoration: none;}


        .carousel-caption{background:#ED6E00;padding: 1.25rem;position: absolute;
            left: 0;
            bottom: 4.25rem;
            right: auto !important;width: 69% !important;}

        .carousel-item{ position: relative;
            width: 100%;
            height: 570px;
            overflow: hidden;}
        .carousel-item img{position: absolute;
            top: 50%;
            left: 50%;
            height: 100%;
            width: 100%;
            transform: translate(-50%, -50%);
        max-height: 500px;}


        .button{font-family: "Outfit", Sans-serif;
            font-size: 18px;
            font-weight: 600;background-color: #ED6E00;color:#fff;}

            .bg-black{background-color: #f8f8f8;}

            .fs-7{font-size: 16px;line-height: 20px;margin-bottom: 9px;}



            /* /new */
            section{padding: 50px 0;}
            #solution{background: url('../../../images/bg1.webp');color:#fff;position: relative;z-index:10;}
            #solution:before{content:'';position: absolute;width: 100%;height: 100%;background: linear-gradient(to right,#272727  0,#407cb9f7 51%,#272727  100%);top:0;opacity:0.90;z-index: -1;}
            #vision{border:3px solid var(--color-green);border-radius:80px 0px 80px 0px;padding:40px;}
            #vision .inner{border:3px solid var(--color-green);border-radius:0 80px 0 80px;padding:40px;}
            .ff-poppins{font-family: var(--ff-roboto);}
            .ff-roboto{font-family: var(--ff-roboto-condensed);}
            .fs10{font-size: var(--fs-10);}
            .fs12{font-size: var(--fs-12);}
            .fs14{font-size: var(--fs-14);}
            .fs16{font-size: var(--fs-16);}
            .fs18{font-size: var(--fs-18);}
            .fs20{font-size: var(--fs-20);}
            .fs22{font-size: var(--fs-22);}
            .fs24{font-size: var(--fs-24);}
            .fs28{font-size: var(--fs-28);}
            .fs30{font-size: var(--fs-30);}
            .fs32{font-size: var(--fs-32);}
            .fs34{font-size: var(--fs-34);}
            .fs36{font-size: var(--fs-36);}
            .fs38{font-size: var(--fs-38);}
            .fs40{font-size: var(--fs-40);}
            .fs42{font-size: var(--fs-42);}
            .fs44{font-size: var(--fs-44);}
            .fs46{font-size: var(--fs-46);}
            .fs48{font-size: var(--fs-48);}
            .fs54{font-size: var(--fs-54);}
            .fw100{font-weight: var(--fw-100);}
            .fw300{font-weight: var(--fw-300);}
            .fw400{font-weight: var(--fw-400);}
            .fw500{font-weight: var(--fw-500);}
            .fw600{font-weight: var(--fw-600);}
            .fw700{font-weight: var(--fw-700);}
            .fw800{font-weight: var(--fw-800);}
            .fw900{font-weight: var(--fw-900);}
            .colordblue{color: var(--color-dark-blue);}
            #whatwedo{}
            #whatwedo .inner{}
            #whatwedo .inner .card{border-color: var(--color-dark-blue2);border-radius: 10px;}
            #whatwedo .inner .card h4,#whatwedo .inner .card h4 a{color: var(--color-dark-blue);}
            #whatwedo .inner .card ul li a{color: var(--color-black);font-weight: 400;font-family: var(--ff-roboto);}
            #whatwedo .inner .card ul li i{color: var(--color-dark-blue);}
            #whomdoweworkfor{background: url('../../../images/bg1.webp');color:#fff;position: relative;z-index:10;margin: 10px 0;}
            #whomdoweworkfor:before{content:'';position: absolute;width: 100%;height: 100%;background: linear-gradient(to right,#000  0,#407cb9f7 51%,#0d1120  100%);top:0;opacity:0.95;z-index: -1;}
            #whomdoweworkfor .card h4{font-size: 22px;color: var(--color-dark-blue);}
            #whomdoweworkfor .card p{font-size: 16px;font-family: var(--ff-roboto);}
            #happyclients{background:var(--color-grey);}
            #solutions{}
            #solutions .card{border-radius: 10px;cursor: pointer;}
            #solutions .card h4{color: var(--color-dark-blue);font-size: var(--fs-22);}
            #solutions .card p{font-family: (--ff-poppins);font-weight: 400;color:#333; font-size: var(--fs-16);margin: 0;}

            :hover{border-color: var(--gradient5);}
            #solutions .card:hover h4{color: var(--gradient5);font-size: var(--fs-22);}
            #solutions .card:hover p{color:var(--color-dark-blue2); }
            #whatwehaveachieved{background: var(--gradient5);}
            #industriesweserve{background:url('https://www.orangemantra.com/wp-content/uploads/2023/12/circle-bg1.webp');    background-repeat: no-repeat;background-position: left top;}
            #industriesweserve .accordion{}
            #industriesweserve .accordion .accordion-item {border: solid 1px rgba(0,0,0,.125);border-radius: 10px;overflow: hidden;margin: 5px 0;}
            #industriesweserve .accordion .accordion-item .accordion-header{border: solid 1px rgba(0,0,0,.125);}
            #industriesweserve .accordion .accordion-item .accordion-header button{font-size: 20px;font-family: var(--ff-roboto-condensed);}
            #industriesweserve .accordion .accordion-item .accordion-body{font-size: var(--fs-18);font-family: var(--ff-roboto);}
            #why{}
            #why .inner{}
            #why .inner .card{border-radius: 10px;background: var(--color-grey2);}
            #why .inner .card h2{font-size: var(--fs-100);color: var(--color-grey3);font-family: var(--ff-roboto-condensed);}
            #why .inner .card h3{font-size: var(--fs-22);font-family: var(--ff-roboto);margin: 10px 0;}
            #why .inner .card p{font-size: var(--fs-18);font-family: var(--ff-roboto);}
            #letsgetstarted{background: var(--gradient5);}

            footer {
                background:var(--color-dark-navy);
                overflow: hidden;
                color: #fff;
                padding-top:60px;
                position: relative;
            }
            footer .container{position: relative;z-index: 1;}
            footer h5 {
                color: var(--color-green);
                font: 300 16px/24px var(--ff-roboto-condensed);
                text-transform: uppercase;
                letter-spacing: 1px;
                margin-bottom: 15px;
            }
            footer .footer-menu{
                list-style: none;
                padding: 0;
            }
            footer .footer-menu li{margin-bottom: 10px;}
            footer .footer-menu li a{color: #fff;
                font: 300 14px/24px var(--ff-poppins), Helvetica, Arial, sans-serif;
                letter-spacing: 1px;
                text-decoration: none;
            }
            .social-icon a{text-decoration: none;color: #fff;display: inline-block;}
            .social-icon a>img{filter: brightness(0) saturate(100%) invert(100%) sepia(5%) saturate(197%) hue-rotate(244deg) brightness(111%) contrast(92%); width:20px; height:20px;margin:5px;}

            .social-icon2 a{text-decoration: none;color: #fff;display: block;max-width: 285px;margin-bottom: 10px;}
            .social-icon2 a>img{filter: brightness(0) saturate(100%) invert(100%) sepia(5%) saturate(197%) hue-rotate(244deg) brightness(111%) contrast(92%); width:20px; height:20px;margin:5px;}


            .pill-list{padding: 0;
                display: flex;
                flex-wrap: wrap;}
            .pill-list .item{font-size: var(--fs-16);color: var(--color-white);border:solid 1px var(--color-white);
                border-radius: 100px;
                border: 1px solid rgba(255, 255, 255, 0.30);
                width: auto;
                padding: 5px 10px;
                margin-right: 13px;
                font-size: 16px;
                margin-bottom: 13px;
                display: flex;
                align-items: center;
                gap: 5px;}
            .pill-list .item img{width: 20px;height: 20px;}
            .hero2{background: url('https://www.orangemantra.com/wp-content/uploads/2023/12/smartfactory-banner.png');
                background-repeat: no-repeat;
                background-size: cover;
                background-position: right center;position: relative;}
            .hero2::before{content: '';
                position: absolute;
                /* background: rgb(69 24 126 / 83%); */
                background: var(--color-blue1);
                width: 100%;
                height: 100%;
                opacity: 0.9;
                top: 0;
                left: 0;
                z-index: 0;}
                    .hero2::after{content: "";
                        background: url('https://www.orangemantra.com/wp-content/uploads/2023/10/banner-overlap.png');
                        height: 304px;
                        width: 100%;
                        position: absolute;
                        bottom: 0px;
                        display: block !important;
                        background-size: cover;}
                        .zi-10{z-index: 1;}

                        .ourclients-grid{}
                        .ourclients-grid .item{text-align: center;
                            border-right: 1px solid #ddd;
                            border-bottom: 1px solid #ddd;
                            padding: 30px 0;}
                            .ourclients-grid .item:nth-of-type(4), .ourclients-grid .item:nth-of-type(8), .ourclients-grid .item:nth-of-type(12) {border-right: none;}
                            .ourclients-grid .item:nth-of-type(9), .ourclients-grid .item:nth-of-type(10), .ourclients-grid .item:nth-of-type(11), .ourclients-grid .item:nth-of-type(12) {border-bottom: none;}
                            .ourclients-grid .item img{filter: grayscale(100%);
                                width: 145px;
                                object-fit: contain;
                                height: 55px;}
                                .ourclients-grid .item img:hover{filter: grayscale(0%);}
                                p{font-family: var(--ff-roboto); font-size: var(--fs-18);}
                                #s360s{
                                    padding: 50px 0;
                                    background: url('../../../images/automation-solution-bg.webp');
                                    background-position: center right;
                                    background-size: cover;
                                    background-attachment: fixed;
                                }

                                #s360s1 .card{background:var(--color-grey-m);}
                                #s360s1 .card h4{font-family: var(--ff-roboto-condensed);color: var(--color-blue1);}
                                #s360s1 .card p{font-family: var(--ff-roboto);color: #000;}

                                #explore{background: var(--color-blue1);}
                                #industries{background:var(--color-blue1);border-radius: 15px 0px 0px 15px;margin-left: 20px;padding: 30px 0 30px 30px;}

                                .process{max-height: 331px;overflow-y: scroll;}
                                .process ul {position: relative;
                                    list-style-type: none;
                                    padding-left: 10px;
                                    margin-top: 0px;}
                                .process ul li{width: 100%;
                                    padding: 0px 10px 30px;
                                    position: relative;
                                    background: #FFF;
                                    margin-right: 20px;
                                    transition: 0.3s;
                                    display: flex;
                                    flex-wrap: wrap;}
                                .process ul li img{
                                    display: inline-block;
                                    position: relative;
                                    z-index: 10;
                                    width: 72px;
                                    height: 72px;
                                    background: var(--color-blue1);
    padding: 17px;
    border-radius: 10px;
                                }
                                .process ul li span{padding-left: 25px;width: 84%;display: inline-block;float: left;}
                                .process ul li span h4{text-align: left;
                                    font-size: 20px;
                                    font-weight: 600;
                                    margin: 0px 0 20px;}
                                    .process ul li span p{padding: 0px 0px;
                                        font-size: 16px;
                                        text-align: left;font-family: var(--ff-roboto);}
                                        .process ul::after {
                                            height: 71%;
                                        }
                                        .process ul::after {
                                            border: 1px dashed #000;
                                            content: "";
                                            position: absolute;
                                            top: 53px;
                                            width: 1px;
                                            left: 58px;
                                            z-index: 0;
                                            height: 80%;
                                        }
                                        .process::-webkit-scrollbar {
                                            width: 10px;
                                        }
                                        .process::-webkit-scrollbar-thumb {
                                            background: var(--color-blue1);
                                        }
                                        .process::-webkit-scrollbar-track {
                                            background: #f1f1f1;
                                        }
                                        .process ul ul:after{ content: none;}
                                        .process ul ul li{ display: inline-block;}
                                        .process ul ul li i{ display: inline-block;}
                                        #faq .accordion{}
            #faq .accordion .accordion-item {border: solid 1px rgba(0,0,0,.125);border-radius: 10px;overflow: hidden;margin: 5px 0;}
            #faq .accordion .accordion-item .accordion-header{outline: none;}
            #faq .accordion .accordion-item .accordion-header button{font-size: 20px;font-family: var(--ff-roboto-condensed);}
            #faq .accordion .accordion-item .accordion-body{font-size: var(--fs-16);font-family: var(--ff-roboto);}
            .list1{list-style: none;padding:0;}
            .list1 li{position: relative;left: 0px;border-bottom: 1px solid #d9d9d9;padding: 8px 8px 8px 0px;margin: 0 8px;font-family: var(--ff-roboto);font-size: var(--fs-14);}
            .list1 li img{width: 25px;height: 25px; margin-right: 10px;}
            .cta{background: url('https://www.orangemantra.com/wp-content/uploads/2023/12/smartfactory-banner.png');
                background-repeat: no-repeat;
                background-size: cover;
                background-position: right center;position: relative;z-index: 1;}
            .cta::before{content: '';
                position: absolute;
                /* background: rgb(69 24 126 / 83%); */
                background: var(--color-blue1);
                width: 100%;
                height: 100%;
                opacity: 0.6;
                top: 0;
                left: 0;
                z-index: -1;}
                    /* .cta::after{content: "";
                        background: url('https://www.orangemantra.com/wp-content/uploads/2023/10/banner-overlap.png');
                        height: 304px;
                        width: 100%;
                        position: absolute;
                        bottom: 0px;
                        display: block !important;
                        background-size: cover;}
                        .zi-10{z-index: 1;} */
.newsletter{}
.newsletter .input-group .form-control{border-radius: 30px; border-right: none;padding-left: 30px;}
.newsletter .input-group .input-group-append{border-radius: 30px;background: transparent;}
.newsletter .input-group .input-group-append .input-group-text{border-radius: 30px;border-top-left-radius: 0;border-bottom-left-radius: 0;background: #fff;}
            /* /new */




